body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.content {
  display: flex;
  justify-content: space-between;
}

.row {
  display: flex;
}

.cell {
  padding: 1rem;
  background-color: aqua;
  border: 1px solid black;
  cursor: pointer;
}

#player-gameboard-container > .row > .ship {
  background-color: blue;
}
